<main class="grid grid-cols-5 gird-rows-1 w-11/12 m-auto py-3">
    <section class="col-start-1 col-span-1">
        <h2 class="leading-0 mt-0">Cities</h2>
        <ul>
            <li class="cursor-pointer">Philadelphia</li>
            <li class="cursor-pointer">Dallas</li>
            <li class="cursor-pointer">Allentown</li>
            <li class="cursor-pointer">Lancaster</li>
            <li class="cursor-pointer">San Fanscisco</li>
        </ul>
    </section>
    <section class="col-start-2 col-span-4">
        <h2 class="leading-0 mt-0">Weather</h2>
        <!-- Weather Component -->
        <weather></weather>
    </section>
</main>