<header>
    <h2>Logo</h2>
    <nav>
        <ul>
            <li class="cursor-pointer hover:text-blue-400"><a routerLink="/" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Home</a></li>
            <li class="cursor-pointer hover:text-blue-400"><a routerLink="/about" routerLinkActive="active"
                    ariaCurrentWhenActive="page">About</a></li>
            <li class="cursor-pointer hover:text-blue-400"><a routerLink="/weather" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Weather</a></li>
        </ul>
    </nav>
</header>