<header>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Logo</a>
    <nav>
        <ul>
            <li class="cursor-pointer hover:text-blue-400"><a routerLink="/about" routerLinkActive="active"
                    ariaCurrentWhenActive="page">About</a></li>
            <li class="cursor-pointer hover:text-blue-400"><a routerLink="/contact" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Contact</a></li>
        </ul>
    </nav>
</header>